<div class="rewards-section-layout rewards-{{ block.settings.layout}}">

  <div class="hidden" id="review_campaign_name">{{ block.settings.campaign_name }}</div>

  {% comment %}Start of None Horizontal layout{% endcomment %}
  {% if block.settings.layout == 'none-horizontal' %}
    <div id='second-background-image' class="rewards-img-layout rewards-none-full">
      <div class="rewards_preheader_text">{{ block.settings.preheader_text }}</div>
      <div class="rewards_header_text">{{ block.settings.header_text }}</div>
      <div class="rewards_subheader_text">{{ block.settings.subheader_text }}</div>
      <div id="referral-link" class="refferal-container">
        <input
          id="code"
          disabled
          type="text"
          value=""
          class="referral-link-inp" />
        <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
        <div id="snackbarCopy">Copied to clipboard</div>
      </div>
      <div class="rewards_socials">
        <a href="#" id="rewards_email_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
          </svg>
        </a>
        <a href="#" id="rewards_facebook_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
        </a>
        <a href="#" id="rewards_twitter_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
        </a>
        <a href="#" id="rewards_snapchat_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
        </a>
        <a href="#" id="rewards_instagram_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
        </a>
        <a href="#" id="rewards_tiktok_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 210a210 210 0 0 1-123-39v178a163 163 0 1 1-140-161v90a75 75 0 1 0 52 71V0h88a121 121 0 0 0 2 22 122 122 0 0 0 54 80 121 121 0 0 0 67 21Z" /></svg>
        </a>
        <a href="#" id="rewards_whatsapp_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M381 97A222 222 0 0 0 32 365L0 480l118-31a224 224 0 0 0 330-195c0-59-25-115-67-157zM224 439c-33 0-66-9-94-26l-7-4-70 18 19-68-4-7a185 185 0 0 1 287-229c34 35 56 82 55 131 1 102-84 185-186 185zm101-138c-5-3-33-17-38-18-5-2-9-3-12 2l-18 22c-3 4-6 4-12 2-33-17-54-30-75-66-6-10 5-10 16-31 2-3 1-7-1-9l-17-42c-4-10-9-9-12-9h-11c-4 0-10 1-15 7-5 5-19 19-19 46s20 54 23 57c2 4 39 60 94 84 36 15 49 17 67 14 11-2 33-13 37-26 5-13 5-25 4-27-2-2-5-4-11-6z" /></svg>
        </a>
        <a href="#" id="rewards_discord_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4l-1 1 9 4a1 1 0 1 1-1 1 26 26 0 0 0-26 0h-1v-1l9-4-1-1s-7 1-11 4a45 45 0 0 0-6 23c3 6 11 7 13 7h1l1-3-7-3v-2h1s5 4 14 4 14-4 14-4a1 1 0 0 1 1 2l-7 3 1 3h1c2 0 10-1 13-7 0-10-4-21-6-23ZM19 30c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Zm13 0c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Z" /></svg>
        </a>
      </div>
      <div class="none-gift-layout">
        <div class="friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
        <div class="timeline-group">
          <div class="timeline-headers">
            <div>Friends Joined</div>
            <div>Rewards</div>
          </div>
          <div class="timeline">
            <div class="timeline-progress">&nbsp;</div>
            <div class="timeline-items">
              <div class="timeline-item-block">
                <div class="reward-targets">
                  <div class="reward-target" id="tier1">{}</div>
                  <div class="reward-target" id="tier2">{}</div>
                  <div
                    class="reward-target"
                    id="tier3"
                    style="display: none;">{}</div>
                  <div
                    class="reward-target"
                    id="tier4"
                    style="display: none;">{}</div>
                </div>
                <div
                  class="referral-count-achieved"
                  id="referral-count-achieved"
                  onmouseenter="mouseenter(this)"
                  onmouseleave="mouseleave(this)">
                  <span id="current_referrals">0</span>
                  <div class="referral-count-detail count-detail" style="display: none;">
                    Invite
                    <span id="remaining_referrals">{}</span>
                    more friends to unlock next reward!
                  </div>
                </div>
                <div class="rewards">
                  <div class="reward-item-detail" id="reward1">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span id="discount1">Gift Card {}</span>
                  </div>
                  <div class="reward-item-detail" id="reward2">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span id="discount2">Gift Card {}</span>
                  </div>
                  <div
                    class="reward-item-detail"
                    id="reward3"
                    style="display: none;">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span id="discount3">Gift Card {}</span>
                  </div>
                  <div
                    class="reward-item-detail"
                    id="reward4"
                    style="display: none;">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span id="discount4">Gift Card {}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of None Horizontal layout{% endcomment %}

  {% comment %}Start of None Vertical layout{% endcomment %}
  {% if block.settings.layout == 'none-vertical' %}
    <div id='second-background-image' class="rewards-img-layout rewards-none-full">
      <div class="hidden">this div is hidden</div>
      <div class="none-gift-layout reward-none-half rewards-spaced-evenly">
        <div class="rewards-vertical rewards-spaced">
          <div class="rewards_preheader_text">{{ block.settings.preheader_text }}</div>
          <div class="rewards_header_text">{{ block.settings.header_text }}</div>
          <div class="rewards_subheader_text">{{ block.settings.subheader_text }}</div>
          <div id="referral-link" class="refferal-container">
            <input
              id="code"
              disabled
              type="text"
              value=""
              class="referral-link-inp" />
            <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
            <div id="snackbarCopy">Copied to clipboard</div>
          </div>
          <div class="rewards_socials">
            <a href="#" id="rewards_email_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
              </svg>
            </a>
            <a href="#" id="rewards_facebook_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
            </a>
            <a href="#" id="rewards_twitter_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
            </a>
            <a href="#" id="rewards_snapchat_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
            </a>
            <a href="#" id="rewards_instagram_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
            </a>
            <a href="#" id="rewards_tiktok_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 210a210 210 0 0 1-123-39v178a163 163 0 1 1-140-161v90a75 75 0 1 0 52 71V0h88a121 121 0 0 0 2 22 122 122 0 0 0 54 80 121 121 0 0 0 67 21Z" /></svg>
            </a>
            <a href="#" id="rewards_whatsapp_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M381 97A222 222 0 0 0 32 365L0 480l118-31a224 224 0 0 0 330-195c0-59-25-115-67-157zM224 439c-33 0-66-9-94-26l-7-4-70 18 19-68-4-7a185 185 0 0 1 287-229c34 35 56 82 55 131 1 102-84 185-186 185zm101-138c-5-3-33-17-38-18-5-2-9-3-12 2l-18 22c-3 4-6 4-12 2-33-17-54-30-75-66-6-10 5-10 16-31 2-3 1-7-1-9l-17-42c-4-10-9-9-12-9h-11c-4 0-10 1-15 7-5 5-19 19-19 46s20 54 23 57c2 4 39 60 94 84 36 15 49 17 67 14 11-2 33-13 37-26 5-13 5-25 4-27-2-2-5-4-11-6z" /></svg>
            </a>
            <a href="#" id="rewards_discord_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4l-1 1 9 4a1 1 0 1 1-1 1 26 26 0 0 0-26 0h-1v-1l9-4-1-1s-7 1-11 4a45 45 0 0 0-6 23c3 6 11 7 13 7h1l1-3-7-3v-2h1s5 4 14 4 14-4 14-4a1 1 0 0 1 1 2l-7 3 1 3h1c2 0 10-1 13-7 0-10-4-21-6-23ZM19 30c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Zm13 0c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Z" /></svg>
            </a>
          </div>
        </div>
        <div class="rewards-spaced friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
        <div class="vertical-timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="rewards-spaced vertical-timeline-container">
          <div class="vertical-timeline-items">
            <div class="vertical-timeline-item-block">
              <div class="vertical-reward-targets">
                <div class="vertical-reward-target" id="tier1">{}</div>
                <div class="vertical-reward-target" id="tier2">{}</div>
                <div
                  class="vertical-reward-target"
                  id="tier3"
                  style="display: none;">{}</div>
                <div
                  class="vertical-reward-target"
                  id="tier4"
                  style="display: none;">{}</div>
              </div>
              <div class="vertical-timeline">
                <div class="vertical-timeline-progress">&nbsp;</div>
                <div class="vertical-referral-count-achieved" id="vertical-referral-count-achieved" onmouseenter="mouseenter(this)" onmouseleave="mouseleave(this)">
                  <span id="current_referrals">0</span>
                  <div class="vertical-referral-count-detail count-detail" style="display: none;">
                    Invite
                    <span id="remaining_referrals">{}</span>
                    more friends to unlock next reward!
                  </div>
                </div>
              </div>
              <div class="vertical-rewards">
                <div class="vertical-reward-item-detail" id="reward1">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div class="vertical-reward-item-detail" id="reward2">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div
                  class="vertical-reward-item-detail"
                  id="reward3"
                  style="display: none;">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div
                  class="vertical-reward-item-detail"
                  id="reward4"
                  style="display: none;">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of None Vertical layout{% endcomment %}

  {% comment %}Start of Horizontal layout{% endcomment %}
  {% if block.settings.layout == 'horizontal' %}
    <div id='second-background-image' class="rewards-img-layout full">
      <div class="rewards_preheader_text">{{ block.settings.preheader_text }}</div>
      <div class="rewards_header_text">{{ block.settings.header_text }}</div>
      <div class="rewards_subheader_text">{{ block.settings.subheader_text }}</div>
      <div id="referral-link" class="refferal-container">
        <input
          id="code"
          disabled
          type="text"
          value=""
          class="referral-link-inp" />
        <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
        <div id="snackbarCopy">Copied to clipboard</div>
      </div>
      <div class="rewards_socials">
        <a href="#" id="rewards_email_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
          </svg>
        </a>
        <a href="#" id="rewards_facebook_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
        </a>
        <a href="#" id="rewards_twitter_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
        </a>
        <a href="#" id="rewards_snapchat_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
        </a>
        <a href="#" id="rewards_instagram_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
        </a>
        <a href="#" id="rewards_tiktok_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 210a210 210 0 0 1-123-39v178a163 163 0 1 1-140-161v90a75 75 0 1 0 52 71V0h88a121 121 0 0 0 2 22 122 122 0 0 0 54 80 121 121 0 0 0 67 21Z" /></svg>
        </a>
        <a href="#" id="rewards_whatsapp_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M381 97A222 222 0 0 0 32 365L0 480l118-31a224 224 0 0 0 330-195c0-59-25-115-67-157zM224 439c-33 0-66-9-94-26l-7-4-70 18 19-68-4-7a185 185 0 0 1 287-229c34 35 56 82 55 131 1 102-84 185-186 185zm101-138c-5-3-33-17-38-18-5-2-9-3-12 2l-18 22c-3 4-6 4-12 2-33-17-54-30-75-66-6-10 5-10 16-31 2-3 1-7-1-9l-17-42c-4-10-9-9-12-9h-11c-4 0-10 1-15 7-5 5-19 19-19 46s20 54 23 57c2 4 39 60 94 84 36 15 49 17 67 14 11-2 33-13 37-26 5-13 5-25 4-27-2-2-5-4-11-6z" /></svg>
        </a>
        <a href="#" id="rewards_discord_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4l-1 1 9 4a1 1 0 1 1-1 1 26 26 0 0 0-26 0h-1v-1l9-4-1-1s-7 1-11 4a45 45 0 0 0-6 23c3 6 11 7 13 7h1l1-3-7-3v-2h1s5 4 14 4 14-4 14-4a1 1 0 0 1 1 2l-7 3 1 3h1c2 0 10-1 13-7 0-10-4-21-6-23ZM19 30c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Zm13 0c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Z" /></svg>
        </a>
      </div>
    </div>
    <div class="gift-layout full">
      <div class="friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
      <div class="timeline-group">
        <div class="timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="timeline">
          <div class="timeline-progress">&nbsp;</div>
          <div class="timeline-items">
            <div class="timeline-item-block">
              <div class="reward-targets">
                <div class="reward-target" id="tier1">{}</div>
                <div class="reward-target" id="tier2">{}</div>
                <div
                  class="reward-target"
                  id="tier3"
                  style="display: none;">{}</div>
                <div
                  class="reward-target"
                  id="tier4"
                  style="display: none;">{}</div>
              </div>
              <div
                class="referral-count-achieved"
                id="referral-count-achieved"
                onmouseenter="mouseenter(this)"
                onmouseleave="mouseleave(this)">
                <span id="current_referrals">0</span>
                <div class="referral-count-detail count-detail" style="display: none;">
                  Invite
                  <span id="remaining_referrals">{}</span>
                  more friends to unlock next reward!
                </div>
              </div>
              <div class="rewards">
                <div class="reward-item-detail" id="reward1">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span id="discount1">Gift Card {{ block.settings.tier_1_discount }}</span>
                </div>
                <div class="reward-item-detail" id="reward2">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span id="discount2">Gift Card {{ block.settings.tier_2_discount }}</span>
                </div>
                <div
                  class="reward-item-detail"
                  id="reward3"
                  style="display: none;">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span id="discount3">Gift Card {{ block.settings.tier_3_discount }}</span>
                </div>
                <div
                  class="reward-item-detail"
                  id="reward4"
                  style="display: none;">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span id="discount4">Gift Card {{ block.settings.tier_4_discount }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of Horizontal layout{% endcomment %}

  {% comment %}Start of Vertical layout{% endcomment %}
  {% if block.settings.layout == 'vertical' %}
    <div id='second-background-image' class="rewards-img-layout half">
      <div class="hidden">this div is hidden</div>
    </div>
    <div class="gift-layout half rewards-spaced-evenly">
      <div class="rewards-spaced vertical-mobile">
        <div class="rewards_preheader_text">{{ block.settings.preheader_text }}</div>
        <div class="rewards_header_text">{{ block.settings.header_text }}</div>
        <div class="rewards_subheader_text">{{ block.settings.subheader_text }}</div>
        <div id="referral-link" class="refferal-container">
          <input
            id="code"
            disabled
            type="text"
            value=""
            class="referral-link-inp" />
          <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
          <div id="snackbarCopy">Copied to clipboard</div>
        </div>
        <div class="rewards_socials">
          <a href="#" id="rewards_email_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
            </svg>
          </a>
          <a href="#" id="rewards_facebook_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
          </a>
          <a href="#" id="rewards_twitter_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
          </a>
          <a href="#" id="rewards_snapchat_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
          </a>
          <a href="#" id="rewards_instagram_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
          </a>
          <a href="#" id="rewards_tiktok_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 210a210 210 0 0 1-123-39v178a163 163 0 1 1-140-161v90a75 75 0 1 0 52 71V0h88a121 121 0 0 0 2 22 122 122 0 0 0 54 80 121 121 0 0 0 67 21Z" /></svg>
          </a>
          <a href="#" id="rewards_whatsapp_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M381 97A222 222 0 0 0 32 365L0 480l118-31a224 224 0 0 0 330-195c0-59-25-115-67-157zM224 439c-33 0-66-9-94-26l-7-4-70 18 19-68-4-7a185 185 0 0 1 287-229c34 35 56 82 55 131 1 102-84 185-186 185zm101-138c-5-3-33-17-38-18-5-2-9-3-12 2l-18 22c-3 4-6 4-12 2-33-17-54-30-75-66-6-10 5-10 16-31 2-3 1-7-1-9l-17-42c-4-10-9-9-12-9h-11c-4 0-10 1-15 7-5 5-19 19-19 46s20 54 23 57c2 4 39 60 94 84 36 15 49 17 67 14 11-2 33-13 37-26 5-13 5-25 4-27-2-2-5-4-11-6z" /></svg>
          </a>
          <a href="#" id="rewards_discord_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4l-1 1 9 4a1 1 0 1 1-1 1 26 26 0 0 0-26 0h-1v-1l9-4-1-1s-7 1-11 4a45 45 0 0 0-6 23c3 6 11 7 13 7h1l1-3-7-3v-2h1s5 4 14 4 14-4 14-4a1 1 0 0 1 1 2l-7 3 1 3h1c2 0 10-1 13-7 0-10-4-21-6-23ZM19 30c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Zm13 0c-2 0-4-2-4-4s2-4 4-4c1 0 3 2 3 4s-2 4-3 4Z" /></svg>
          </a>
        </div>
      </div>
      <div class="rewards-spaced friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
      <div class="vertical-timeline-headers">
        <div>Friends Joined</div>
        <div>Rewards</div>
      </div>
      <div class="rewards-spaced vertical-timeline-container">
        <div class="vertical-timeline-items">
          <div class="vertical-timeline-item-block">
            <div class="vertical-reward-targets">
              <div class="vertical-reward-target" id="tier1">{}</div>
              <div class="vertical-reward-target" id="tier2">{}</div>
              <div
                class="vertical-reward-target"
                id="tier3"
                style="display: none;">{}</div>
              <div
                class="vertical-reward-target"
                id="tier4"
                style="display: none;">{}</div>
            </div>
            <div class="vertical-timeline">
              <div class="vertical-timeline-progress">&nbsp;</div>
              <div class="vertical-referral-count-achieved" id="vertical-referral-count-achieved" onmouseenter="mouseenter(this)" onmouseleave="mouseleave(this)">
                <span id="current_referrals">0</span>
                <div class="vertical-referral-count-detail count-detail" style="display: none;">
                  Invite
                  <span id="remaining_referrals">{}</span>
                  more friends to unlock next reward!
                </div>
              </div>
            </div>
            <div class="vertical-rewards">
              <div class="vertical-reward-item-detail" id="reward1">
                {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                {{ imageDropdown | asset_url | img_tag }}
              </div>
              <div class="vertical-reward-item-detail" id="reward2">
                {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                {{ imageDropdown | asset_url | img_tag }}
              </div>
              <div
                class="vertical-reward-item-detail"
                id="reward3"
                style="display: none;">
                {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                {{ imageDropdown | asset_url | img_tag }}
              </div>
              <div
                class="vertical-reward-item-detail"
                id="reward4"
                style="display: none;">
                {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                {{ imageDropdown | asset_url | img_tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of Vertical layout{% endcomment %}
</div>