<div class="section-layout {{ block.settings.layout }}">

  <div class="hidden" id="review_campaign_name">{{ block.settings.campaign_name }}</div>

  {% comment %}Start of None Horizontal layout{% endcomment %}
  {% if block.settings.layout == 'nonehorizontal' %}
    <div id='second-background-image' class="img-layout none-full">
      <div class="preheader_text">{{ block.settings.preheader_text }}</div>
      <div class="header_text">{{ block.settings.header_text }}</div>
      <div class="subheader_text">{{ block.settings.subheader_text }}</div>
      <div id="referral-link" class="refferal-container">
        <input
          id="code"
          disabled
          type="text"
          value=""
          class="referral-link-inp" />
        <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
        <div id="snackbarCopy">Copied to clipboard</div>
      </div>
      <div class="socials">
        <a href="#" id="rewards_email_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
          </svg>
        </a>
        <a href="#" id="rewards_facebook_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
        </a>
        <a href="#" id="rewards_twitter_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
        </a>
        <a href="#" id="rewards_snapchat_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
        </a>
        <a href="#" id="rewards_instagram_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
        </a>
        {% comment %} Tiktok {% endcomment %}
        <a
          class="tiktok"
          target="_blank"
          onclick="copyMessage()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" /></svg>
        </a>
        {% comment %} Whatsapp {% endcomment %}
        <a class="whatsapp" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" /></svg>
        </a>
      </div>
      <div class="none-gift-layout">
        <div class="friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
        <div class="timeline-group">
          <div class="timeline-headers">
            <div>Friends Joined</div>
            <div>Rewards</div>
          </div>
          <div class="timeline">
            <div class="timeline-progress">&nbsp;</div>
            <div class="timeline-items">
              <div class="timeline-item-block">
                <div class="reward-targets">
                  <div class="reward-target">5</div>
                  <div class="reward-target">10</div>
                  <div class="reward-target">15</div>
                  <div class="reward-target">20</div>
                </div>
                <div
                 id="current_referrals"
                  class="referral-count-achieved"
                  onmouseenter="mouseenter(this)"
                  onmouseleave="mouseleave(this)">0<div class="referral-count-detail" style="display: none;">Invite <span id="remaining_referrals"> </span> more friends to unlock next reward!</div>
                </div>
                <div class="rewards">
                  <div class="reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span>Gift Card $20</span>
                  </div>
                  <div class="reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span>Gift Card $50</span>
                  </div>
                  <div class="reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span>Gift Card $70</span>
                  </div>
                  <div class="reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                    <span>Gift Card $100</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of None Horizontal layout{% endcomment %}

  {% comment %}Start of None Vertical layout{% endcomment %}
  {% if block.settings.layout == 'nonevertical' %}
    <div id='second-background-image' class="img-layout none-full">
      <div class="hidden">this div is hidden</div>
      <div class="none-gift-layout none-half spaced-evenly">
        <div class="vertical spaced">
          <div class="preheader_text">{{ block.settings.preheader_text }}</div>
          <div class="header_text">{{ block.settings.header_text }}</div>
          <div class="subheader_text">{{ block.settings.subheader_text }}</div>
          <div id="referral-link" class="refferal-container">
            <input
              id="code"
              disabled
              type="text"
              value=""
              class="referral-link-inp" />
            <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
            <div id="snackbarCopy">Copied to clipboard</div>
          </div>
          <div class="socials">
            <a href="#" id="rewards_email_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
              </svg>
            </a>
            <a href="#" id="rewards_facebook_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
            </a>
            <a href="#" id="rewards_twitter_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
            </a>
            <a href="#" id="rewards_snapchat_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
            </a>
            <a href="#" id="rewards_instagram_refferal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
            </a>
            {% comment %} Tiktok {% endcomment %}
            <a
              class="tiktok"
              target="_blank"
              onclick="copyMessage()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" /></svg>
            </a>
            {% comment %} Whatsapp {% endcomment %}
            <a class="whatsapp" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" /></svg>
            </a>
          </div>
        </div>
        <div class="spaced friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
        <div class="vertical-timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="spaced vertical-timeline">
          <div class="vertical-timeline-progress">&nbsp;</div>
          <div class="vertical-timeline-items">
            <div>
              <div class="vertical-timeline-item-block">
                <div class="vertical-reward-targets">
                  <div class="vertical-reward-target">5</div>
                  <div class="vertical-reward-target">10</div>
                  <div class="vertical-reward-target">15</div>
                  <div class="vertical-reward-target">20</div>
                </div>
                <div
                id="current_referrals"
                  class="vertical-referral-count-achieved"
                  onmouseenter="mouseenter(this)"
                  onmouseleave="mouseleave(this)">0
                  <div class="vertical-referral-count-detail" style="display: none;">Invite <span id="remaining_referrals"> </span> more friends to unlock next reward!</div>
                </div>
                <div class="vertical-rewards">
                  <div class="vertical-reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                  </div>
                  <div class="vertical-reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                  </div>
                  <div class="vertical-reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                  </div>
                  <div class="vertical-reward-item-detail">
                    {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                    {{ imageDropdown | asset_url | img_tag }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of None Vertical layout{% endcomment %}

  {% comment %}Start of Horizontal layout{% endcomment %}
  {% if block.settings.layout == 'horizontal' %}
    <div id='second-background-image' class="img-layout full">
      <div class="preheader_text">{{ block.settings.preheader_text }}</div>
      <div class="header_text">{{ block.settings.header_text }}</div>
      <div class="subheader_text">{{ block.settings.subheader_text }}</div>
      <div id="referral-link" class="refferal-container">
        <input
          id="code"
          disabled
          type="text"
          value=""
          class="referral-link-inp" />
        <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
        <div id="snackbarCopy">Copied to clipboard</div>
      </div>
      <div class="socials">
        <a href="#" id="rewards_email_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
          </svg>
        </a>
        <a href="#" id="rewards_facebook_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
        </a>
        <a href="#" id="rewards_twitter_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
        </a>
        <a href="#" id="rewards_snapchat_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
        </a>
        <a href="#" id="rewards_instagram_refferal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
        </a>
        {% comment %} Tiktok {% endcomment %}
        <a
          class="tiktok"
          target="_blank"
          onclick="copyMessage()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" /></svg>
        </a>
        {% comment %} Whatsapp {% endcomment %}
        <a class="whatsapp" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" /></svg>
        </a>
      </div>
    </div>
    <div class="gift-layout full">
      <div class="friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
      <div class="timeline-group">
        <div class="timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="timeline">
          <div class="timeline-progress">&nbsp;</div>
          <div class="timeline-items">
            <div class="timeline-item-block">
              <div class="reward-targets">
                <div class="reward-target">5</div>
                <div class="reward-target">10</div>
                <div class="reward-target">15</div>
                <div class="reward-target">20</div>
              </div>
              <div
              id="current_referrals"
                class="referral-count-achieved"
                onmouseenter="mouseenter(this)"
                onmouseleave="mouseleave(this)">0<div class="referral-count-detail" style="display: none;">Invite <span id="remaining_referrals"> </span> more friends to unlock next reward!</div>
              </div>
              <div class="rewards">
                <div class="reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span>Gift Card $20</span>
                </div>
                <div class="reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span>Gift Card $50</span>
                </div>
                <div class="reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span>Gift Card $70</span>
                </div>
                <div class="reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                  <span>Gift Card $100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of Horizontal layout{% endcomment %}

  {% comment %}Start of Vertical layout{% endcomment %}
  {% if block.settings.layout == 'vertical' %}
    <div id='second-background-image' class="img-layout half">
      <div class="hidden">this div is hidden</div>
    </div>
    <div class="gift-layout half spaced-evenly">
      <div class="vertical spaced">
        <div class="preheader_text">{{ block.settings.preheader_text }}</div>
        <div class="header_text">{{ block.settings.header_text }}</div>
        <div class="subheader_text">{{ block.settings.subheader_text }}</div>
        <div id="referral-link" class="refferal-container">
          <input
            id="code"
            disabled
            type="text"
            value=""
            class="referral-link-inp" />
          <button class="copy-link-btn" id="copy_referral_code_btn">Copy Link</button>
          <div id="snackbarCopy">Copied to clipboard</div>
        </div>
        <div class="socials">
          <a href="#" id="rewards_email_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
            </svg>
          </a>
          <a href="#" id="rewards_facebook_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M15 3a12 12 0 0 0-2 24v-9h-3v-3h3v-2c0-4 2-5 5-5h2v3h-2l-1 2v2h3v3h-3v9a12 12 0 0 0-2-24z" /></svg>
          </a>
          <a href="#" id="rewards_twitter_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m459 152 1 13A297 297 0 0 1 0 417a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z" /></svg>
          </a>
          <a href="#" id="rewards_snapchat_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47 35c-6-1-9-7-9-7v-1l2-2h1c2-1 2-1 2-3l-1-2a3 3 0 0 0-2 0l-2 1v-1l-1-9c-3-7-10-8-12-8s-9 1-12 8l-1 9v1l-2-1-3 2c-1 1 0 2 2 3h1l2 2v1s-3 6-9 7l-1 2 6 3v1l1 1 1 1h1a11 11 0 0 1 4 0l3 1a11 11 0 0 0 7 3c3 0 5-2 7-3l3-1a10 10 0 0 1 4 0h1l1-1 1-1v-1l6-3-1-2Z" /></svg>
          </a>
          <a href="#" id="rewards_instagram_refferal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M16 3C9 3 3 9 3 16v18c0 7 6 13 13 13h18c7 0 13-6 13-13V16c0-7-6-13-13-13H16zm21 8 2 2-2 2-2-2 2-2zm-12 3a11 11 0 1 1 0 22 11 11 0 0 1 0-22zm0 2a9 9 0 1 0 0 18 9 9 0 0 0 0-18z" /></svg>
          </a>
          {% comment %} Tiktok {% endcomment %}
          <a
            class="tiktok"
            target="_blank"
            onclick="copyMessage()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" /></svg>
          </a>
          {% comment %} Whatsapp {% endcomment %}
          <a class="whatsapp" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" /></svg>
          </a>
        </div>
      </div>
      <div class="spaced friends-joined" id="count_referrals">0 friends have joined! Invite friends to Join</div>
      <div class="vertical-timeline-headers">
        <div>
          <h3>Friends Joined</h3>
          <div id="referral_rows"></div>
        </div>

        <div>Rewards</div>
      </div>
      <div class="spaced vertical-timeline">
        <div class="vertical-timeline-progress">&nbsp;</div>
        <div class="vertical-timeline-items">
          <div>
            <div class="vertical-timeline-item-block">
              <div class="vertical-reward-targets">
                <div class="vertical-reward-target">5</div>
                <div class="vertical-reward-target">10</div>
                <div class="vertical-reward-target">15</div>
                <div class="vertical-reward-target">20</div>
              </div>
              <div
                class="vertical-referral-count-achieved"
                id="current_referrals"
                onmouseenter="mouseenter(this)"
                onmouseleave="mouseleave(this)">0
                <div class="vertical-referral-count-detail" style="display: none;">Invite <span id="remaining_referrals"> </span>more friends to unlock next reward!</div>
              </div>
              <div class="vertical-rewards">
                <div class="vertical-reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div class="vertical-reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div class="vertical-reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
                <div class="vertical-reward-item-detail">
                  {% assign imageDropdown = block.settings.icon_dropdown | append: '.png' %}
                  {{ imageDropdown | asset_url | img_tag }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %}End of Vertical layout{% endcomment %}
</div>